Machine Learning Projects/Dog Breed Classifier/dog_dataset/
Machine Learning Projects/Dog Breed Classifier/human_dataset/
Machine Learning Projects/Dog Breed Classifier/best_model_weights.hdf5
Machine Learning Projects/Dog Breed Classifier/best_model_weights.hdf5
Machine Learning Projects/Breast Cancer Detection using Deep Learning/BreaKHis_v1/
Machine Learning Projects/Breast Cancer Detection using Deep Learning/dataset/
Machine Learning Projects/Recommender System/.ipynb_checkpoints/Recommendation Engine in Python-checkpoint.ipynb
Machine Learning Projects/Recommender System/Data/movielens/links.csv
Machine Learning Projects/Recommender System/Data/movielens/movies.csv
Machine Learning Projects/Recommender System/Data/movielens/ratings.csv
Machine Learning Projects/Recommender System/Data/movielens/README.txt
Machine Learning Projects/Recommender System/Data/movielens/tags.csv
.gitignore
test.png
.vscode
__pycache__
Machine Learning Projects/Data Driven Growth/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Machine Learning Projects/Clustering & Dimensionality Reduction/.ipynb_checkpoints/clustering_dimensionality_reduction-checkpoint.ipynb
Machine Learning Projects/Amazon Fine Food Reviews - NLP/database.sqlite
Machine Learning Projects/Amazon Fine Food Reviews - NLP/final_cleaned.sqlite
Machine Learning Projects/Amazon Fine Food Reviews - NLP/final_cleaned.csv
Machine Learning Projects/Amazon Fine Food Reviews - NLP/Reviews.csv
Machine Learning Projects/Amazon Fine Food Reviews - NLP/.ipynb_checkpoints/Amazon_sentiment_analysis_NLP_preprocessing-checkpoint.ipynb
Machine Learning Projects/Amazon Fine Food Reviews - NLP/.ipynb_checkpoints/final_cleaned-checkpoint.csv
Machine Learning Projects/Amazon Fine Food Reviews - NLP/.ipynb_checkpoints/amazon_food_reviews_sentiment_analysis_nlp-checkpoint.ipynb
Machine Learning Projects/Client Copy/dataset/CC9flow.xls
Machine Learning Projects/Client Copy/dataset/flow_data.xlsx
Machine Learning Projects/Client Copy/dataset/flow_settings.xlsx
Machine Learning Projects/Client Copy/.ipynb_checkpoints/Client Copy Data Exploration-checkpoint.ipynb
Machine Learning Projects/Quora Similar Questions/.ipynb_checkpoints/1. Quora-EDA-checkpoint.ipynb
Machine Learning Projects/Quora Similar Questions/Data/question_feature_extracted.csv
Machine Learning Projects/Quora Similar Questions/Data/test.csv
Machine Learning Projects/Quora Similar Questions/Data/train.csv
Machine Learning Projects/Quora Similar Questions/test.csv.zip
Machine Learning Projects/Quora Similar Questions/train.csv.zip
.gitignore
 Machine Learning Projects/Client Copy/dataset/cc_cleaned_data.csv
Machine Learning Projects/Client Copy/dataset/cc_cleaned_data.csv
Machine Learning Projects/Quora Similar Questions/.ipynb_checkpoints/2. Quora-Data-Preprocessing-checkpoint.ipynb
Machine Learning Projects/Client Copy/.ipynb_checkpoints/Client Copy ML Model-checkpoint.ipynb
Exercises/.ipynb_checkpoints/ApplieadAIEDA-checkpoint.ipynb
Machine Learning Projects/Quora Similar Questions/Data/nlp_advanced_features_train.csv
Machine Learning Projects/Quora Similar Questions/Data/all_features_final.csv
Machine Learning Projects/Quora Similar Questions/Data/tfidf_w_vec_features_train.csv
Machine Learning Projects/Quora Similar Questions/.ipynb_checkpoints/3. Quora-Tfidf_weighted_word2vec-checkpoint.ipynb
Machine Learning Projects/Quora Similar Questions/.ipynb_checkpoints/3. Quora-Tfidf_weighted_word2vec-checkpoint.ipynb
Machine Learning Projects/Quora Similar Questions/.ipynb_checkpoints/4. Model_Selection-checkpoint.ipynb
Machine Learning Projects/PySpark ML/.ipynb_checkpoints/Twitter_sentiment_analysis_with_pyspark-checkpoint.ipynb
Machine Learning Projects/Sentiment Analysis Tweets/.ipynb_checkpoints/Capstone_part2-checkpoint.ipynb
Machine Learning Projects/Sentiment Analysis Tweets/.ipynb_checkpoints/clean_tweet-checkpoint.csv
Machine Learning Projects/Sentiment Analysis Tweets/.ipynb_checkpoints/tweets-checkpoint.ipynb
Machine Learning Projects/PySpark ML/Data/clean_tweet.csv
Machine Learning Projects/Sentiment Analysis Tweets/clean_tweet.csv
Machine Learning Projects/Sentiment Analysis Tweets/training.1600000.processed.noemoticon.csv
Machine Learning Projects/Simple_NLP_Model_Deployment/.ipynb_checkpoints/MovieReviewsSentimentAnalysis-checkpoint.ipynb
Machine Learning Projects/Simple_NLP_Model_Deployment/data/test.tsv
Machine Learning Projects/Simple_NLP_Model_Deployment/data/train.tsv
