Machine Learning Projects/Dog Breed Classifier/dog_dataset/
Machine Learning Projects/Dog Breed Classifier/human_dataset/
Machine Learning Projects/Dog Breed Classifier/best_model_weights.hdf5
Machine Learning Projects/Dog Breed Classifier/best_model_weights.hdf5
Machine Learning Projects/Breast Cancer Detection using Deep Learning/BreaKHis_v1/
Machine Learning Projects/Breast Cancer Detection using Deep Learning/dataset/
Machine Learning Projects/Recommender System/.ipynb_checkpoints/Recommendation Engine in Python-checkpoint.ipynb
Machine Learning Projects/Recommender System/Data/movielens/links.csv
Machine Learning Projects/Recommender System/Data/movielens/movies.csv
Machine Learning Projects/Recommender System/Data/movielens/ratings.csv
Machine Learning Projects/Recommender System/Data/movielens/README.txt
Machine Learning Projects/Recommender System/Data/movielens/tags.csv
.gitignore
test.png
.vscode
__pycache__