Machine Learning Projects/Dog Breed Classifier/dog_dataset/
Machine Learning Projects/Dog Breed Classifier/human_dataset/
Machine Learning Projects/Dog Breed Classifier/best_model_weights.hdf5
Machine Learning Projects/Dog Breed Classifier/best_model_weights.hdf5
Machine Learning Projects/Breast Cancer Detection using Deep Learning/BreaKHis_v1/
Machine Learning Projects/Breast Cancer Detection using Deep Learning/dataset/
Machine Learning Projects/Recommender System/.ipynb_checkpoints/Recommendation Engine in Python-checkpoint.ipynb
Machine Learning Projects/Recommender System/Data/movielens/links.csv
Machine Learning Projects/Recommender System/Data/movielens/movies.csv
Machine Learning Projects/Recommender System/Data/movielens/ratings.csv
Machine Learning Projects/Recommender System/Data/movielens/README.txt
Machine Learning Projects/Recommender System/Data/movielens/tags.csv
.gitignore
test.png
.vscode
__pycache__
Machine Learning Projects/Data Driven Growth/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Machine Learning Projects/Clustering & Dimensionality Reduction/.ipynb_checkpoints/clustering_dimensionality_reduction-checkpoint.ipynb
Machine Learning Projects/Amazon Fine Food Reviews - NLP/database.sqlite
Machine Learning Projects/Amazon Fine Food Reviews - NLP/final_cleaned.sqlite
Machine Learning Projects/Amazon Fine Food Reviews - NLP/final_cleaned.csv
Machine Learning Projects/Amazon Fine Food Reviews - NLP/Reviews.csv
Machine Learning Projects/Amazon Fine Food Reviews - NLP/.ipynb_checkpoints/Amazon_sentiment_analysis_NLP_preprocessing-checkpoint.ipynb
Machine Learning Projects/Amazon Fine Food Reviews - NLP/.ipynb_checkpoints/final_cleaned-checkpoint.csv
Machine Learning Projects/Amazon Fine Food Reviews - NLP/.ipynb_checkpoints/amazon_food_reviews_sentiment_analysis_nlp-checkpoint.ipynb
