<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Movie Reviews Sentiment Analysis using NLP</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action = "{{ url_for('PredictSentiment')}}" method = "post">
            <p><h2>Enter a Movie Review:</h2></p>
            <p><textarea name = "Review" ></textarea><br></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
         
          <br>
      <h2> {{ prediction_text }}</h2>

         </br>
         
        </body>
</html>